// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Background of the presentation
$backgroundColor: #2b2b2b;

// Primary/body text
$mainFont: 'Lato', sans-serif;
$mainFontSize: 36px;
$mainColor: #eee;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'League Gothic', Impact, sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3em;
$heading2Size: 2em;
$heading3Size: 1.5em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #13DAEC;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

section[data-background-video] {
  h1, h2, h3, h4, h5, h6 {
    background-color: rgba(16, 16, 16, 0.64);
  }
}

html.img-bottom-right div.slide-background {
  background-position: 90% 130%;
}

svg {
  fill: white;
  stroke-linecap: round;
}

svg text {
  font-size: 0.8em;
}

.reveal section table {
  font-size: 0.7em;
}

.reveal section table thead {
  font-size: 0.7em;
}

.reveal section table td {
  vertical-align: middle;
}

.reveal section#scene6 table img {
  background: none;
  border: 0;
  display: block;
  width: 3em;
}
