// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Background of the presentation
$backgroundColor: #2b2b2b;

// Primary/body text
$mainFont: 'Lato', sans-serif;
$mainFontSize: 36px;
$mainColor: #eee;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Open Sans', sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #ffa500;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FFa500;
$selectionColor: #fff;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .overlay-video {
  background-color: rgba(16, 16, 16, 0.64);
}

.reveal ul.no-bullets {
  list-style-type: none;
}

.reveal {
  ol.overlay-video, ul.overlay-video {
    padding: 1em;
  }
}

svg.video-overlay {
  position: absolute;
  width: 100vh;
  height: 100vh;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

html.img-bottom-right div.slide-background {
  background-position: 90% 130%;
}

svg {
  fill: white;
  stroke-linecap: round;
}

svg text {
  font-size: 0.8em;
}

svg line.best-fit {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.reveal section table {
  font-size: 0.7em;
}

.reveal section table thead {
  font-size: 0.7em;
}

.reveal section table td {
  vertical-align: middle;
}

.reveal section#scene6 table img {
  background: none;
  border: 0;
  display: block;
  width: 3em;
}
