// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Background of the presentation
$backgroundColor: #2b2b2b;

// Primary/body text
$mainFont: 'Lato', sans-serif;
$mainFontSize: 36px;
$mainColor: #eee;
$accentColorMain: #ffa500;
$overlayColor: rgba(48, 48, 48, 0.8);

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Open Sans', sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: $accentColorMain;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FFa500;
$selectionColor: #fff;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section {
  em, strong {
    color: $accentColorMain;
  }
}

.reveal .overlay-video {
  background-color: $overlayColor;
  padding: 16px;
}

.reveal ul.no-bullets {
  list-style-type: none;
}

svg.video-overlay {
  position: absolute;
  width: 100vh;
  height: 100vh;
}

video.video-to-background {
  position: absolute;
  left: 0;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

html.img-bottom-right div.slide-background {
  background-size: 50vw auto !important;
  background-position: 90% 135%;
}

section#scene2b img {
  position: absolute;
  display: inline-block;
  width: 40%;
}

svg {
  fill: white;
  stroke-linecap: round;
}

svg text {
  font-size: 0.8em;
}

svg .date-axis path {
  display: none;
}

text.tide-text {
  fill: $backgroundColor;
  font-size: 0.4em;
}

svg line.best-fit {
  stroke: $accentColorMain;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: dash 2s linear forwards;
}

svg path.tide {
  stroke-dasharray: 12;
  animation: dash 5s infinite forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 120;
  }
}

svg.svg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  line {
    stroke: $accentColorMain;
    stroke-width: 5;
  }
  marker {
    fill: $accentColorMain;
  }
  g {
    opacity: 0;
  }
  g.opaque {
    opacity: 1;
    transition: opacity 3s linear;
  }
}

.reveal section.margin {
  margin: 1em;
  margin-top: 0;
  width: auto;
}

.reveal section table {
  font-size: 0.6em;
}

.reveal section table thead {
  font-size: 0.7em;
}

.reveal section table td {
  vertical-align: middle;
}

.reveal section#scene6 table img {
  background: none;
  border: 0;
  display: block;
  width: 3em;
}
